name = "Example"
uuid = "91448638-9ebd-4fbf-8d28-fa3cac19947d"
authors = ["Yueh-Hua Tu <a504082002@gmail.com>"]
version = "0.1.0"

[compat]
julia = "1.4"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
